<h3>Configuration</h3>
<ul>
    <li><b>Environment:</b> <%= config.env %></li>
    <li><b>Real IP:</b> <%= config.realIp %></li>
    <li><b>Database dir:</b> <%= config.databaseStorageDir %> (<%= (sizes.databaseStorageDir / 1024).toFixed(2) + ' Ko' %>)</li>
    <li><b>Tmp dir:</b> <%= config.tmpDir %> (<%= (sizes.tmpDir / 1024).toFixed(2) + ' Ko' %>)</li>
    <li><b>Data dir:</b> <%= config.dataDir %> (<%= (sizes.dataDir / 1024).toFixed(2) + ' Ko' %>)</li>
    <li><b>Plugins tmp dir:</b> <%= config.pluginsTmpDir %> (<%= (sizes.pluginsTmpDir / 1024).toFixed(2) + ' Ko' %>)</li>
    <li><b>Plugins data dir:</b> <%= config.pluginsDataDir %> (<%= (sizes.pluginsDataDir / 1024).toFixed(2) + ' Ko' %>)</li>
</ul>